
Exercice - membres inférieurs/TP1 Données de mocap-Correction.ipynb
Exercice - membres inférieurs/.ipynb_checkpoints/TP1 Données de mocap-Correction-checkpoint.ipynb
Exercice - membres inférieurs/TP2 Dynamique inverse CORRECTION.ipynb
